* {
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #535457;
}
.icon-5,.icon-6,.icon-7,.icon-8,.icon-9{
    font-size: 50px;
}
.icon-5{
    margin-left:13px ;
    margin-top: 22px;
    color:aliceblue;
}
.icon-6{
    margin-left:13px ;
    margin-top: 240px;
    color:#070796;
}
.icon-7{
    margin-left:13px ;
    margin-top: 20px;
    color: rgb(0 197 0) ;
}
.icon-8{
    margin-left:13px ;
    margin-top: 20px;
    color: ;
}
.icon-9{
    margin-left:13px ;
    margin-top: 20px;
color: rgb(66, 152, 206);
}
.container { 
    margin: -45% auto;
    height: 558px;
    width: 85%;
    padding: 30px;
    background-color: #211818;}

    .section-right{
        margin-left: 42%;
    margin-top: -40px;
border-bottom:2px solid  rgb(48, 200, 48) ;  
}
    .details{
        word-spacing: 30px;
    color: rgb(48, 200, 48);
    }
    .pera, .About-Me,.development-1,.development-2,.data-1,.data-2{
        color: aliceblue;

    }
    
    .icon-1{
        color: rgb(48, 200, 48);
        font-size: 35px;
    }

    .section-left img:hover{
        zoom:120%;
       width:40%;
         border-radius:40% ;
    }
.section-left img{
    width: 35%;
    margin-left: -20px;
    height: 600px;
    margin-top: -15px;
    position: absolute
    
}
.image-text {
    position: absolute;
    text-align: center;
    text-shadow: -3px -2px white;
    width: 35%;
    
    margin-top: 30%;
}
.ali{
    font-size: 50px;
    font-family: monospace;
}
.web{
    font-size: 20px;
    font-family: fantasy;

}
.all-data{
    margin-top:-35px ;
}

.development-1,.development-2{
    margin-left: 42%;   

}
.development-1{
    margin-bottom: 6%;
    margin-top: 82px;
}
.development-2{
    margin-top: 10px;
}
.data-1,.data-2{
     margin-left: 72%;
    margin-bottom: 8%;
    
}
.data-1{
    margin-top: -31%;
    margin-bottom: 54px;
}
.data-2{

}