.app{
  margin : 20px;
  padding : 20px;
  justify-content : center;
  box-shadow:0 6px 20px 0 rgba(0,0,0,0.19)
}
.icon{
  display: flex;
  flex-direction: column;
align-items: center;
}
.text{
  color:#027068;
  font-weight:bold;
  font-size:40px;

}
icon_class>.muiSvgIcon-root{
  color:#027068;

} 